html {
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px yellow solid; */
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(130deg, rgba(2, 0, 36, 1) 0%, rgba(8, 1, 69, 1) 65%, rgb(9, 9, 121) 86%, rgba(98, 0, 255, 1) 100%);
    overflow: hidden;
    color: white;
    height: auto;
    box-sizing: border-box;
}

/* custom scroll-bar */
::-webkit-scrollbar{
    width: 0.2vw;
}

::-webkit-scrollbar-thumb{
    background-color: white;
}

::-webkit-scrollbar-track{
    background: linear-gradient(130deg, rgba(2, 0, 36, 1) 0%, rgba(37, 48, 237, 1) 23%, rgba(36, 46, 237, 1) 35%, rgba(18, 18, 231, 1) 49%, rgba(37, 14, 237, 1) 58%, rgba(62, 8, 244, 1) 70%, rgba(98, 0, 255, 1) 82%);
}

/* comms */

.font-pop {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* top btn */
.up-btn {
    background-color: hsl(217, 70%, 37%);
    color: white;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
    right: 0;
    margin-right: 3vw;
    margin-bottom: 2vw;
    z-index: 1000;
    border-radius: 1rem;
    background: linear-gradient(130deg, rgba(2, 0, 36, 1) 0%, rgba(37, 48, 237, 1) 23%, rgba(36, 46, 237, 1) 35%, rgba(18, 18, 231, 1) 49%, rgba(37, 14, 237, 1) 58%, rgba(62, 8, 244, 1) 70%, rgba(98, 0, 255, 1) 82%);
    border: 2px white solid;
    opacity: 0.7;
}

.up-btn:hover {
    opacity: 1;
}

/* 1 page scroll */

.scroll-container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.page {
    appearance: none;
    height: 100vh;
    scroll-snap-align: start;
    overflow-x: hidden;
}

.page .content {
    margin: 2rem;
}

/* hero sec */

.logo {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 3px;
    color: white;
}

.hero-flex {
    padding: 20px;
    display: flex;
    width: 90%;
    height: 80vh;
    margin: 0 auto;
    justify-content: space-around;
}

.f-item {
    width: 50%;
}

.hero-flex img {
    width: 40%;
    align-self: center;
    animation: moving 4s infinite linear;
    transition: transform .3s;
}

@keyframes moving {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(10px, 10px);
    }

    50% {
        transform: translate(10px, -7px);
    }

    75% {
        transform: translate(5px, 3px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.hero-flex .h-title {
    align-self: center;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 3rem;
}

.btn-trial {
    margin-top: 2rem;
    display: block;
    padding: 20px;
    align-self: center;
    font-size: 2rem;
    font-family: monospace;
    cursor: pointer;
    border-radius: 1rem;
    background-color: antiquewhite;
    transition: background-color 0.1s;
}

.btn-trial:hover {
    background-color: rgb(190, 180, 167);
}

.btn-trial:active {
    color: white;
    background-color: rgb(176, 141, 94);
}

/* media queries for page 1 */

@media only screen and (max-width: 1000px) {
    html {
        font-size: 12px;
    }

    .hero-flex {
        flex-direction: column;
    }

    .f-item {
        width: 70%;
    }

    .f-img {
        width: fit-content;
        height: 50%;
        min-width: 50%;
    }

    .hero-flex .h-title {
        text-align: center;
        height: 30%;
    }

    .btn-trial {
        margin: 2rem auto;
    }
}

@media only screen and (max-width: 800px) {
    .f-img {
        min-width: 70%;
    }
}


@media only screen and (max-width: 630px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 8px;
    }

    .f-item {
        min-width: 80%;
    }
}

/* page - 2 */

.xiona {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 0.7rem;
    letter-spacing: 0.1px;
    border-radius: 0.2rem;
    background: linear-gradient(130deg, rgba(2, 0, 36, 1) 0%, rgba(37, 48, 237, 1) 23%, rgba(36, 46, 237, 1) 35%, rgba(18, 18, 231, 1) 49%, rgba(37, 14, 237, 1) 58%, rgba(62, 8, 244, 1) 70%, rgba(98, 0, 255, 1) 82%);
}

.p-two .two-title {
    font-size: 2rem;
    color: white;
    width: fit-content;
    margin: 0 auto;
    font-family: monospace;
    border-radius: 3px;
    padding: 3px 10px;
}

.p-two .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 90dvh;
}

.features {
    display: flex;
    justify-content: space-around;
    height: 90%;
    padding-top: 4rem;
}

.features .item img {
    aspect-ratio: 1/1;
    max-height: 60%;
}

.features .item {
    border: 2px solid;
    /* background-color: rgb(245, 245, 245 , 0.2); */
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    align-items: center;
    padding: 3rem 0;
    animation: border-fx 0.1s infinite alternate;
    animation-timing-function: linear;
    flex-shrink: 1;
    width: 25%;
}

@keyframes border-fx {
    0% {
        background: linear-gradient(130deg, rgba(2, 0, 36, 0.6) 0%, rgba(13, 22, 184, 0.6) 23%, rgba(18, 23, 103, 0.6) 35%, rgba(32, 32, 115, 0.6) 74%, rgba(98, 0, 255, 0.6) 93%);
    }

    100% {
        background: linear-gradient(115deg, rgba(2, 0, 36, 0.6) 0%, rgba(13, 22, 184, 0.6) 23%, rgba(18, 23, 103, 0.6) 35%, rgba(32, 32, 115, 0.6) 74%, rgba(98, 0, 255, 0.6) 93%);
    }
}

.features .item .f-caption {
    font-size: 2rem;
    font-family: monospace;
    letter-spacing: 2px;
    text-align: center;
    padding: 0 1.5rem;
}

.note {
    font-family: monospace;
    font-size: 0.7rem;
    text-align: center;
    bottom: 0;
    position: sticky;
}

@media only screen and (max-width: 1200px) {

    .features {
        flex-wrap: wrap;
    }

    .features .item {
        min-width: 34%;
        height: 40%;
        padding: 0;
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 700px){
    .features {
        flex-direction: column;
        align-items: center;
    }

    .features .item {
        width: 80%;
        padding: 0;
        flex-direction: row;
        height: 30%;
        align-items: center;
        justify-content: center;
    }

    .features .item img {
        align-self: center;
    }

    .features .item .f-caption {
        display: flex;
        justify-content: center;
    }

}

@media only screen and (max-width: 600px) {
    .features .f-caption{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 500px) {

    .features .item {
        flex-direction: column;
    }
}

@media only screen and (max-width: 400px) {
    .features .item {
        width: 80%;
    }

    .two-title {
        text-align: center;

    }
}

/* page 3 */
.p-three {
    overflow: hidden;
}

.p-three .content {
    height: 100vh;
    margin: 0 2rem !important;
    display: flex;
    align-content: space-around;
    flex-direction: column;
}

.p-three .three-title {
    padding-top: 2rem;
    font-size: 2rem;
    color: white;
    width: 100%;
    margin: 0 auto;
    font-family: monospace;
    border-radius: 3px;
    letter-spacing: 0.2rem;
    text-align: center;
}

.three-title .about {
    width: fit-content;
    font-weight: bold;
}

.f-team {
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    height: 80%;
}

.f-team .item {
    width: 40%;
    padding: 1rem;
    border: 2px white solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(245, 245, 245 , 0.2);
    min-height: 30%;
}

.f-team .item img {
    width: 30%;
    float: left;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    object-fit: cover;
    border: 2px solid white;
}

.f-caption {
    display: flex;
    height: 10rem;
    flex-direction: column;
    padding: rem;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.f-caption .item-name {
    width: 100%;
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.f-caption .role {
    width: 100%;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.f-caption .about {
    padding-top: 1rem;
    font-size: 1.5rem;
}

@media only screen and (max-width:1200px) {
    .f-team .item{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 1.2rem 2rem 1.2rem;
        margin: 1rem;
    }

    .f-team .item img {
        margin: 0;
        margin-bottom: 1rem;
    }

    .f-team .item .f-caption {
        min-width: 100%;
        align-items: center;
        text-align: center;
    }

    .f-team .item .role {
        padding: 0.2rem;
        border-bottom: 1.5px white solid;
        width: 60%;
    }
}

@media only screen and (max-width:500px) {

    .f-team {
        height: 20%;
    }

    .f-team .item{
        width: 100%;
        flex-direction: row;
    }
}

/* page 4 */

#final-page {
    margin: 0;
}

.page-four .content {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.page-four {
    position: relative;
    overflow: hidden;
}

.page-four .four-title {
    font-size: 2rem;
    color: white;
    width: 100%;
    margin: 0 auto;
    font-family: monospace;
    border-radius: 0.2rem;
    letter-spacing: 0.2rem;
    text-align: center;
    width: 100%;
    height: fit-content;
}

.page-four .plan {
    width: 100%;
    display: flex;
    height: 80%;
    justify-content: center;
    font-weight: 300;
}

.plan .item {
    background-color: rgb(255, 255, 255, 0.2);
    min-width: 20%;
    margin: 2rem;
    border: 0.133rem white solid;
    border-radius: 8px;
    overflow: hidden;
}

.plan .item .details {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plan .item .p-title {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    padding: 1rem;
    background: linear-gradient(130deg, rgba(2, 0, 36, 1) 0%, rgba(37, 48, 237, 1) 23%, rgba(36, 46, 237, 1) 35%, rgba(18, 18, 231, 1) 49%, rgba(37, 14, 237, 1) 58%, rgba(62, 8, 244, 1) 70%, rgba(98, 0, 255, 1) 82%);
}

.plan .item ul li {
    margin-left: 2rem;
    padding: 0.5rem;
}

.pros li::marker {
    color: greenyellow;
}

.cons li::marker {
    color: red;
}

.pros {
    height: 40%;
}

/* purchase button */

.purchase {
    width: 100%;
    min-height: 50px;
    padding-top: 0.8rem;
    padding-bottom: 3rem;
    background-color: rgb(250, 235, 215, 0.9);
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2rem;
}

.purchase:hover {
    background-color: rgb(190, 180, 167);
}

.purchase:active {
    color: white;
    background-color: rgb(176, 141, 94);
}

/* footer */

footer {
    background-color: rgb(0, 0, 0, 0.4);
}

footer ol li {
    padding-left: 2rem;
    font-size: 0.8rem;
    font-weight: 300;
    opacity: 0.4;
}

/* footer .made-by {
    padding-bottom: 3rem;
    text-align: center;
} */